services:
  db:
    image: "postgres:17-alpine"
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
  backend:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  db_data:
